{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img src="{% static tethys_app.icon %}">{% endblock %}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block header_buttons %}
  <div style="text-align: center; color: white; padding: 8px"><strong>{{ version }}</strong></div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="How To Use The App">
    <a data-toggle="modal" data-target="#howto-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}


{% block after_app_content %}
  <div class="modal fade" id="howto-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">How To Use The App</h5>
        </div>

        <div class="modal-body">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block app_navigation_items %}
  {% url "earthobserver:home" as home %}
  {% url "earthobserver:apihelp" as apihelp %}
  {% url "earthobserver:manage" as manage %}

  <li class="title">App Navigation</li>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{{ home }}">Home</a></li>
  <li class="{% if request.path == apihelp %}active{% endif %}"><a href="{{ apihelp }}">How To Use The API</a></li>
  <li><a target="_blank" href="https://github.com/rileyhales/earthobserver">View the Source Code</a></li>
  <li><a target="_blank" href="https://youtube.com">Watch a Video Tutorial</a></li>
  {% if user.is_superuser %}
    <li class="title">For Super Users</li>
    <li class="{% if request.path == manage %}active{% endif %}"><a href="{{ manage }}">Manage Data Workflows</a></li>
  {% endif %}
{% endblock %}
