{% extends "earthobserver/base.html" %}
{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
  <h1>Earth Observer Tool</h1>

  <div style="max-width: 60%;">

    <form id="eoForm" action="{% url 'earthobserver:map' %}" method="get">
      {% gizmo select_input model %}
      <button class="btn btn-success" role="button" form="eoForm" id="submit">View Earth Observation Data</button>
    </form>


    <div id="gldas" class="aboutwrap">
      <div style="max-width: 35%;">
        <img class="abouticon" src="{% static "earthobserver/images/nasalis.png" %}">
      </div>
      <div class="modelinfo">
        The goal of the Global Land Data Assimilation System (GLDAS) is to ingest satellite- and ground-based
        observational data products, using advanced land surface modeling and data assimilation techniques, in order to
        generate optimal fields of land surface states and fluxes (Rodell et al., 2004a). The software, which has been
        streamlined and parallelized by the Land Information System (LIS) sister project, drives multiple, offline (not
        coupled to the atmosphere) land surface models, integrates a huge quantity of observation based data, executes
        globally at high resolutions (2.5-degrees to 1 km), and is capable of producing results in near-real time. (from
        <a href="https://ldas.gsfc.nasa.gov/gldas/" target="_blank">ldas.gsfc.nasa.gov</a>)
      </div>
    </div>

    <div id="gfs" class="aboutwrap" style="display: none;">
      <div>
        <img class="abouticon" src="{% static "earthobserver/images/gfs.png" %}">
      </div>
      <div class="modelinfo">
        "The Global Forecast System (GFS) is a weather forecast model produced by the National Centers for Environmental
        Prediction (NCEP). Dozens of atmospheric and land-soil variables are available through this dataset, from
        temperatures, winds, and precipitation to soil moisture and atmospheric ozone concentration. The entire globe is
        covered by the GFS at a base horizontal resolution of 18 miles (28 kilometers) between grid points, which is
        used by the operational forecasters who predict weather out to 16 days in the future. Horizontal resolution
        drops to 44 miles (70 kilometers) between grid point for forecasts between one week and two weeks." (from <a
              href="https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-forcast-system-gfs"
              target="_blank">ncdc.noaa.gov</a>)
      </div>
    </div>

  </div>

{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'earthobserver/css/main.css' %}"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'earthobserver/js/main.js' %}"></script>
{% endblock %}