{% extends "earthobserver/base.html" %}
{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
  <h1>Earth Observer Tool</h1>
  <form id="eoForm" action="{% url 'earthobserver:map' %}" method="get">
    {% gizmo select_input model %}
    <button class="btn btn-success" role="button" form="eoForm" id="submit">View Earth Observation Data</button>
  </form>

  <div class="modelinfo">
    <div id="gldas">
      <img src="{% static "earthobserver/images/nasalis.png" %}" height="20%vh">
      This is where i'll put information about the GLDAS Data
    </div>

    <div id="gfs" style="display: none">
      <img src="{% static "earthobserver/images/gfs.png" %}">
      This is where i'll put information about the GFS Data
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'earthobserver/css/main.css' %}"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'earthobserver/js/main.js' %}"></script>
{% endblock %}