{% extends "earthobserver/base.html" %}
{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
  <h1>Data Management</h1>

  <h3>GLDAS</h3>
  <li>Months of GLDAS available locally: {{ gldas_months }}</li>
  <li>Oldest GLDAS data month: {{ gldas_start }}</li>
  <li>Newest GLDAS data month: {{ gldas_end }}</li>
  <button class="btn btn-success" role="button" id="gldas">Download GLDAS data</button>

  <h3>GFS</h3>
  <li>Timestamp of available GFS forecast: {{ gfs_time }}</li>
  <li>Number of 6-hr forecast steps available: {{ gfs_steps }}</li>
  <li>Date of first GFS Forecast step: {{ gfs_start }}</li>
  <li>Date of last GFS Forecast step: {{ gfs_end }}</li>
  <button class="btn btn-success" role="button" id="gfs">Download GFS data</button>

{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  {#$("#gldas").click(function () {#}
  {#    // todo ajax a call to run the gldas workflow#}
  {#    // return a status update and either let them know the workflow started or that it was aborted#}
  {# });#}
  {#$("#gfs").click(function () {#}
  {#    // todo ajax a call to run the gfs workflow#}
  {#    // return a status update and either let them know the workflow started or that it was aborted#}
  {# })#}
  </script>
{% endblock %}