{% extends "earthobserver/base.html" %}
{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_title %}{{ tethys_app.name }} - <strong>{{ modelname }}</strong>{% endblock %}
{% block exit_button_override %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Back to Home Page">
    <a href="{% url 'earthobserver:home' %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
  </div>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Upload Shapefile">
    <a data-toggle="modal" data-target="#shp-modal"><span class="glyphicon glyphicon-export"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  <li class="title">Data Controls</li>
  {% if model == 'gldas' %}
    {% gizmo select_input variables %}
    {% gizmo select_input dates %}
    {% gizmo select_input charttype %}
  {% elif model == 'gfs' %}
    <div style="text-align: center; padding: 4px;"><strong>{{ gfsdate }}</strong></div>
    {% gizmo select_input variables %}
    {% gizmo select_input levels %}
    {# {% gizmo select_input heights %} #}
  {% endif %}

  <button class="btn btn-default btn-block" role="button" id="customShpChart">Timeseries for my own Shapefile</button>
  <br>

  <div style="text-align: center"><button class="btn btn-default" role="button" id="display">View Map Styling Controls</button></div>
  <div id="displayopts" style="display: none;">
    <div id="color-scales-gizmo" style="padding-top: 12px; padding-bottom: 12px">
      <div style="padding-bottom: 4px"><strong>Custom Color Scale Min/Max Values</strong></div>
      <div>
        Min: <input id="cs_min" type="number" style="width: 20%;" value="0">
        Max: <input id="cs_max" type="number" style="width: 20%;" value="100">
        Use This? <input id="use_vals" type="checkbox">
      </div>
    </div>
    {% gizmo select_input colorscheme %}
    {% gizmo range_slider opacity %}
    {% gizmo select_input gjClr %}
    {% gizmo range_slider gjOp %}
    {% gizmo range_slider gjWt %}
    {% gizmo select_input gjFlClr %}
    {% gizmo range_slider gjFlOp %}
  </div>

{% endblock %}

{% block app_actions %}
  <div class="btn btn-default"><a href="{% url 'earthobserver:home' %}">Return to Home Page</a></div>
{% endblock %}

{% block app_content %}
  <div id="outer-container" style="overflow-y: auto">
    <div id="map"></div>
    <div id="highchart"></div>
  </div>
{% endblock %}

{% block after_app_content %}
  <!-- Upload Shapefile Data Modal -->
  <div class="modal fade" id="shp-modal" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog" role="document">
      <form action="" method="post" enctype="multipart/form-data">.
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">X</span></button>
            <h2 class="modal-title" id="about-modal-onamet-label">Upload A Shapefile</h2>
          </div>
          <div class="modal-body">
            <div>Guidelines for using a custom shapefile:
              <ul>
                <li>Your shapefile must contain only polygon data.</li>
                <li>You must include the 4 files ending in the extensions "prj" "shp", "shx", and "dbf".</li>
                <li>Your shapefile must use the WGS1984 Geographic Coordinate System or another GCS.</li>
                <li>The EO data are 1/4 degree spatial resolution. If your polygons are too small, you will get an
                  answer of zero.
                </li>
                <li>The more polygons in the shapefile, the longer it will take to generate a timeseries.</li>
                <li>Tethys will automatically delete your shapefile after it has been used.</li>
              </ul>
            </div>
            <br>
            <div class="form-group">
              <input type="file" class="local-file-upload" id="shapefile-upload" accept=".shp,.prj,.shx,.dbf" multiple>
            </div>
            <div>Once you've selected a shapefile, click submit to upload it.</div>
            <div id="loading" style="display: none; text-align: center"><img
                    src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="uploadshp">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <!-- styling for leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
  <!-- styling for timeseries controls -->
  <link rel="stylesheet"
        href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css"/>
  <!-- styling for the leaflet draw plugin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.css"/>

  <!-- styling generated for the app -->
  <link href="{% static 'earthobserver/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
      let threddsbase = "{{ customsettings.threddsurl }}";
      let geoserverbase = "{{ customsettings.geoserverurl }}";
      let model = "{{ model }}";
  </script>

  <!-- Allows csrf verification with AJAX -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <!-- script for leaflet -->
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <!-- Leadlet with Esri -->
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
          integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
          crossorigin=""></script>
  <!-- script for timeseries controls in leaflet -->
  <script type="text/javascript"
          src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
  <!-- allows you to use the leaflet draw plugin -->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>

  <!-- script for using highcharts (display timeseries plot) -->
  <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

  <!-- geojsons for the map -->
  <script type="text/javascript" src="{% static 'earthobserver/js/geojsons1.js' %}"></script>
  <script type="text/javascript" src="{% static 'earthobserver/js/geojsons2.js' %}"></script>
  <script type="text/javascript" src="{% static 'earthobserver/js/geojsons3.js' %}"></script>

  <!-- scripts I wrote for the app, main should go last -->
  <script type="text/javascript" src="{% static 'earthobserver/js/customShp.js' %}"></script>
  <script type="text/javascript" src="{% static 'earthobserver/js/highcharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'earthobserver/js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'earthobserver/js/map.js' %}"></script>
{% endblock %}