html, body, #app-content, #inner-app-content, #outer-container {
    margin: 0px;
    padding: 2px;
    height: 100%;
}

#app-actions {
    display: none;
!important;
}

#app-navigation-items {
    height: 100% !important;
}

#map {
    height: 60%;
    padding: 1px;
}

#highchart {
    height: 40%;
    padding: 1px;
}

#displayopts {
    /*display: none;*/
    overflow-y: auto;
    /*border-style: solid;*/
    /*border-width: medium;*/
    /*border-spacing: 5px*/
}

hr {
    /*display: block;*/
    margin-before: 0;
    margin-after: 0;
    padding: 0px;
    /*margin-start: auto;*/
    /*margin-end: auto;*/
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
}